.cover__link {
    text-decoration: none;
   /* min-height: 740px;*/
    aspect-ratio: 16 / 9.9999;
    background-image: url(../../../images/__background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

.cover__link::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    min-height: 100%;
    max-width: 1184px;
    transition: 0.5s;
}

.cover__link:hover::before {
    opacity: 0.8;
}
