.photo-grid {
    max-width: 1180px;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 0 auto; 
}

@media all and (max-width: 320px){
    .photo-grid {
        max-width: 288px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 12px;
    }
    }