.places {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 92px;
}


@media screen and (max-width: 1024px){
    .places {
        max-width: 928px;
        margin: 0 4.68vw;
    }
}

@media all and (max-width: 768px){
    .places {
        max-width: 720px;
        padding-top: 88px;
        padding: 88px 3.125%;
        margin: 0;
    }
}


@media all and (max-width: 320px){
    .places {
        max-width: 320px;
        padding: 64px 0 66px;
    }
} 