.cover__subtitle {
    position: relative;
    z-index: 2;
    max-width: 360px;
    color: #fff;
    margin: 32px auto 0;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

/* or 122% */
text-align: center;
}


@media all and (max-width: 320px){
    .cover__subtitle{
        margin: 16px auto 0;
        max-width: 288px;
        font-size: 14px;
line-height: 16px;


/* or 114% */
    }
    } 