.header {
    padding: 28px 48px; 
    display: flex;
    justify-content: space-between;
}
.header__links {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
}
.header__link {
    margin-left: 18px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFF;
text-decoration: none;
}
