.footer__link {
    margin-top: 0;
    margin-left: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
}

.footer__link:first-child {
    margin-left: 0;
}

@media screen and (max-width: 675px) {
    .footer__link {
        max-width: 200px;
        margin-left: 0;
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 1;
    }
    .footer__link:last-child {
        padding-bottom: 48px;
        margin-bottom: 0;
    }
}

@media all and (max-width: 320px){
    .footer__link{
        font-size: 24px;
    }
    
}



    
    
