.footer__links {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

@media all and (max-width: 320px){
    .footer__links{
        margin: 0;
        padding: 0;
        max-width: 186px;
        flex-wrap: wrap;
        flex-direction: column;

    }
    } 