.cover {
    max-width: 1184px;
    height: 740px;
    background-image: url(../../images/__background.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    padding-bottom: 92px;
}
