.cover__title {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 560px;
    color: #fff;
    font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.06;
text-align: center;
}

@media all and (max-width: 600px){
    .cover__title{
        font-size: 12vw;
    }

}

@media all and (max-width: 320px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
    .cover__title .new-string {
        display: block;
    }
    } 
